.container {
  height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/2101913.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  max-width: 90vw;
  background-color: #ffe41455;
  font-weight: 700;
  text-shadow: 0 0 1px #ffe414, 0 0 1px #ffe414, 0 0 1px #ffe414,
    0 0 1px #ffe414, 0 0 1px #ffe414, 0 0 1px #ffe414;
}

.cardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.cardHeader {
  font-weight: 700;
  text-shadow: 0 0 0 #000;
}
