.grid {
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  max-height: 50vh;
  min-height: 30vh;
  gap: 2vw;
  padding: 1vw 0;
}

.card {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 1.5rem;

  background-color: #ffffff;
  color: #6c757d;
  text-decoration: none;
  border: 1px solid #6c757d;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 18vw;
  min-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #ffe414;
  border-color: #ffe414;
  background-color: #020d17;
}

.error {
  color: #ffe414;
  text-shadow: 0 0 5px #020d17, 0 0 5px #020d17, 0 0 5px #020d17,
    0 0 5px #020d17, 0 0 5px #020d17, 0 0 5px #020d17;
}

.link {
  text-decoration: none;
}
